.preloader_pages {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
    z-index: 100;
  }

.header{
    min-height: 0vh !important;
}

.banner{
   margin-top: 180px;
}


.our-work .header{
    min-height: 100vh !important;
}

.header.not-full.pt-0{
    padding-top: 0;
    display: flex;
}

.d-flex{
  display: flex !important;
}

/* ----------------------------- WORK ------------------------------- */

.floating-img-wrapper{
    width:100%;
    max-width:1440px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    top:0
}

.float-img {
    position: absolute;
  }
  .float-img.img-1 {
    width: 21.5em;
    position: absolute;
    top: -18.1em;
    left: 4.4em;
  }
  .float-img.img-2 {
    width: 17.375em;
    top: 8.4em;
    left: -3.4em;
  }
  .float-img.img-4 {
    width: 17.375em;
    top: -33.9em;
    right: 10em;
  }
  .float-img.img-3 {
    width: 13em;
    margin-left: auto;
    margin-right: auto;
    top: -35.6em;
    left: 32.2em;
  }
  .float-img.img-5 {
    width: 10.375em;
    margin-left: auto;
    margin-right: auto;
    top: -16.2em;
    left: 42.1em;
  }
  .float-img.img-6 {
    width: 17.375em;
    top: -14.7em;
    right: -7em;
  }
  .float-img.img-7 {
    width: 9em;
    top: 7.2em;
    left: 29.8em;
  }
  .float-img.img-8 {
    width: 13em;
    top: 6.5em;
    right: 16.9em;
  }
  .float-img.img-9 {
    width: 13em;
    top: 20.9em;
    left: 23.2em;
  }
  .float-img.img-10 {
    width: 15.375em;
    top: 18.3em;
    right: 2.8em;
  }

.our_work-container{
    display: flex;
    flex-direction: column;
}

.hero-heading-wrapper{
    flex-direction: column;
    align-items: center;
    display: flex;
}

.hero-heading-wrapper.our-work{
    margin-bottom: 0;
}

.header-title{
    font-size: 6.875rem;
    font-family: Odasans\ extended,sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 100%;
    margin-block: 0;
}

.overlay-header{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.65;
}

.work-item{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.work-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.work-item::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
}

.text-running-wrapper.our-work{
    top: 50%;
    box-shadow: none;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.3));
    left: auto;
    bottom: 0;
    transform: none;
}

.text-running-inner.our-work{
    padding-right: 2em;
}

.txt-running.txt-320{
    color: #fff;
    font-size: 20em;
    letter-spacing: 0;
    padding-top: 0;
}

.banner__title-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title__link{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.title__link.active{
    color: #ffd400;
}

.banner__title-wrapper i{
    font-size: 2.5rem;
}

.about_container-wrapper{
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    align-items: center;
    gap: 90px;
}

.achievment_container-wrapper{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: 90px;
}

.reveal__banner,
.reveal__banner-right{
    position: relative;
    visibility: hidden;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.about__img{
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 700px;
    object-fit: cover;
    transform-origin: left;
}

.about__content-field .title-wrapper{
    margin-block-end: 50px;
}

.about__content-title{
    font-size: 4rem !important;
    text-transform: uppercase;
}


.about__content-field .txt-par{
    font-size: 1.2rem;
}

.about__content-field .txt-par:first-child{
    margin-block-end: 20px;
}


.achievment__img{
    width: 100%;
    height: 100%;
    max-width: 450px;
    object-fit: cover;
    transform-origin: left;
}

.achievment__subtitle{
    font-size: 12px;
    margin-block-end: 18px;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.par-achievment{
    margin-block: 26px;
    max-width: 70ch;
}

.achievment__list{
    margin-block-start: 50px;
    display: grid;
    row-gap: 50px;
}

.achievment__items{
    max-width: 65ch;
}

.achievment__list-header{
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 5px;
}

.achievment__list-title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.achievment__list-category{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #ffd400;
}

.achievment__list-description{
    margin-block-start: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.wrap__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-block-start: 150px;
}

.wrap__title{
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #ffd400;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.wrap__description{
    margin-block: 15px;
    font-size: 3.2rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

.wrap__section{
    min-height: 50vh !important;
}

.last_section {
    position: relative;
}

.banner__section{
    margin-top: 100px;
}

.banner__section img{
    max-height: 45rem;
    width: 100%;
    object-fit: cover;
}

.banner__bg{
    /* position: relative; */
    visibility: hidden;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner__contain{
    position: relative;
}

.banner__text{
    position: absolute;
    top: -6rem;
    left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 8.5rem;
    text-transform: uppercase;
    color: #fff;
    z-index: -1;
    overflow: hidden;
}


.banner__text.stroke{
    z-index: 10;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
}

.contact__section-map .footer__title-section{
    margin-top: 50px;
}

.contact__section-map .footer__content{
    margin-block-start: 50px;
}

.contact__section-map .footer__text{
    font-size: 2.5em !important;
}

.contact__section-map .mail__to-wraper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
    height: unset;
    padding-inline: initial;
}

.contact__section-map .mail__to-wraper .mail__input-filed{
    background-color: #fff;
    height: 3.5em;
    border-radius: 5em;
    padding-inline: 1.4em;
}

.contact__section-map .mail__to-wraper textarea{
    width: 100% !important;
    height: 100% !important;
    border-radius: 2.5em !important;
    resize: none;
    padding-block-start: 1rem;
    outline: none;
    font-size: 1em;
}


.form__sent{
    background-color: #ffd400;
    width: 100%;
    padding-block: 15px;
    border-radius: 5rem;
    font-size: 1.2em;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.contact__map{
    width: 100% !important;
    height: 100vh;
}


.last_section.map{
    min-height: 10vh !important;
}

.last_section.map .footer__bottom{
    position: initial;
}

.services__container{
    display: grid;
    gap: 50px;
    margin-block-start: 75px;
}

.service__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 25px; */
}

.services_items-banner{
    width: 22em;
    height: 18em;
    background-color: #ffd400;
    border-radius: 2rem;
    display: flex;
}

.service__items-content .service_button{
    display: none;
}

.service__items-title{
    font-size: 2em;
    text-transform: uppercase;
    margin-block-end: 20px;
}

.services__items-descritpion{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 1.1rem;
    max-width: 60ch;
}

.service_button{
    background-color: #ffd400;
    font-size: 15px;
    border-radius: 2.5rem;
    /* padding: 25px; */
    width: 170px;
    height: 70px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.services_items-banner.bg-primary{
    background-color: #ffd400;
}
.services_items-banner.bg-tertiary{
    background-color: #e7dbcf;
}
.services_items-banner.bg-secondary{
    background-color: #8e897f;
}


.blog__details-banner{
    width: 100% !important;
    margin-block-start: 7rem;
    position: relative;
    padding-inline: 25px;
}

.blog__details-banner img{
    border-radius: 48px;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.blog__details-banner::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 15, 15);
    opacity: .6;
}

.blog__details-title{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.blog__details-title .blog__categorie{
    font-size: 13px;
    color: #000;
    background-color: #ffd400;
    border-radius: 50px;
    max-width: max-content;
    margin-inline: auto;
    padding: 8px 14px;
    font-family: "Poppins",sans-serif;
}

.blog__details-title .blog__title{
    font-size: 3.5rem;
}

.blog__details-content{
    background-color: #fff;
    padding: 25px;
    border-radius: 48px;
    margin-inline: 25px;
    color: #000 !important;
    display: block !important;
    min-height: auto !important;
    padding: 96px 0;
}

.blog__dc-container{
    place-content: center;
    align-items: center;
    flex: 1 0 0px;
    flex-flow: column nowrap;
    gap: 10px;
    overflow: visible;
    padding: 0 64px;
    position: relative;
    display: flex !important;
}

.blog__details-content-wrap{
    display: flex;
    place-content: flex-start;
    align-items: flex-start;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    max-width: 800px;
    height: min-content;
    gap: 64px;
    position: relative;
}

.blog__details-content-social{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

.blog__details-content-social li{
    overflow: auto;

}

.blog__details-content-social_link{
    font-size: 25px;
}

.blog__details-content-text-title{
    margin-block-end: 35px;
    font-size: 48px;
}

.blog__details-content-text-description{
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.blog__details-conclusion{
    margin-block-start: 35px;
    padding: 48px;
    background-color: #171717;
    border-radius: 24px;
}

.blog__details-conclusion_text,
.blog__details-conclusion_info_date{
    font-size: 16px;
    color: rgb(139, 139, 139);
    font-family: "Poppins",sans-serif;
    font-weight: 300;
}

.blog__details-conclusion_info_date{
    color: #fff;
}

.blog__details-conclusion_info{
    margin-block-start: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__details-conclusion_info_banner{
    display: flex;
    align-items: center;
    gap: 15px;
}

.blog__details-conclusion_info_banner img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.blog__details-conclusion_info_name{
    font-size: 17px;
    color: #fff;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
}

.blog__details-related{
    margin-block-start: 50px;
}

.blog__details-related-title{
    font-size: 35px;
    font-weight: 500;
    margin-block-end: 25px;
    font-family: "Poppins", sans-serif;
}

.blog__details-related_list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.blog__details-related_list .blog__categorie{
    font-size: .95rem;
    margin-bottom: 8px;
}

.blog__details-related_list .blog__title{
    font-size: 1.55em;
}


.blog__details-conclusion_share{
    margin-block-start: 25px;
    text-align: center;
}

.blog__details-conclusion_share_title{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-block-end: 20px;
}

.blog__details-conclusion_share_list{
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}
 
.blog__details-conclusion_share_link i{
    font-size: 25px;
    color: #fff;
    transition: all .2s ease;
}

.blog__details-conclusion_share_link i:hover{
    color: #ffd400;
}
