.header{
    min-height: 0vh !important;
}

.banner{
   margin-top: 180px;
}

.banner__title-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title__link{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.title__link.active{
    color: #ffd400;
}

.banner__title-wrapper i{
    font-size: 2.5rem;
}

.about_container-wrapper{
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    align-items: center;
    gap: 90px;
}

.achievment_container-wrapper{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: 90px;
}

.reveal__banner,
.reveal__banner-right{
    position: relative;
    visibility: hidden;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.about__img{
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 700px;
    object-fit: cover;
    transform-origin: left;
}

.about__content-field .title-wrapper{
    margin-block-end: 50px;
}

.about__content-title{
    font-size: 4rem !important;
    text-transform: uppercase;
}


.about__content-field .txt-par{
    font-size: 1.2rem;
}

.about__content-field .txt-par:first-child{
    margin-block-end: 20px;
}


.achievment__img{
    width: 100%;
    height: 100%;
    max-width: 450px;
    object-fit: cover;
    transform-origin: left;
}

.achievment__subtitle{
    font-size: 12px;
    margin-block-end: 18px;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.par-achievment{
    margin-block: 26px;
    max-width: 70ch;
}

.achievment__list{
    margin-block-start: 50px;
    display: grid;
    row-gap: 50px;
}

.achievment__items{
    max-width: 65ch;
}

.achievment__list-header{
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 5px;
}

.achievment__list-title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.achievment__list-category{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #ffd400;
}

.achievment__list-description{
    margin-block-start: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.wrap__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-block-start: 150px;
}

.wrap__title{
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #ffd400;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.wrap__description{
    margin-block: 15px;
    font-size: 3.2rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

.wrap__section{
    min-height: 50vh !important;
}

.last_section {
    position: relative;
}

.banner__section{
    margin-top: 100px;
}

.banner__section img{
    max-height: 45rem;
    width: 100%;
    object-fit: cover;
}

.banner__bg{
    position: relative;
}

.banner__text{
    position: absolute;
    top: 7rem;
    left: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10rem;
    text-transform: uppercase;
    color: #fff;
    z-index: -1;
}


.banner__text.stroke{
    z-index: 10;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
}

.contact__section-map .footer__title-section{
    margin-top: 50px;
}

.contact__section-map .footer__content{
    margin-block-start: 50px;
}

.contact__section-map .footer__text{
    font-size: 2.5em !important;
}

.contact__section-map .mail__to-wraper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
    height: unset;
    padding-inline: initial;
}

.contact__section-map .mail__to-wraper .mail__input-filed{
    background-color: #fff;
    height: 3.5em;
    border-radius: 5em;
    padding-inline: 1.4em;
}

.contact__section-map .mail__to-wraper textarea{
    width: 100% !important;
    height: 100% !important;
    border-radius: 2.5em !important;
    resize: none;
    padding-block-start: 1rem;
    outline: none;
    font-size: 1em;
}


.form__sent{
    background-color: #ffd400;
    width: 100%;
    padding-block: 15px;
    border-radius: 5rem;
    font-size: 1.2em;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.contact__map{
    width: 100% !important;
    height: 100vh;
}


.last_section.map{
    min-height: 10vh !important;
}

.last_section.map .footer__bottom{
    position: initial;
}

.services__container{
    display: grid;
    gap: 50px;
    margin-block-start: 75px;
}

.service__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 25px; */
}

.services_items-banner{
    width: 22em;
    height: 18em;
    background-color: #ffd400;
    border-radius: 2rem;
    display: flex;
}

.service__items-title{
    font-size: 2em;
    text-transform: uppercase;
    margin-block-end: 20px;
}

.services__items-descritpion{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 1.1rem;
    max-width: 60ch;
}

.service_button{
    background-color: #ffd400;
    font-size: 15px;
    border-radius: 2.5rem;
    /* padding: 25px; */
    width: 170px;
    height: 70px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.services_items-banner.bg-primary{
    background-color: #ffd400;
}
.services_items-banner.bg-tertiary{
    background-color: #e7dbcf;
}
.services_items-banner.bg-secondary{
    background-color: #8e897f;
}
